[core]
	editor = \"C:\\Users\\Ryan\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
	symlinks = true
	autocrlf = false
[user]
	email = rpeabody43@gmail.com
	name = Ryan Peabody
[init]
	defaultBranch = main
